<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Gustavo Graterol</title>
    <link rel="stylesheet" href="/stylesheets/curriculum.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <div class="name">

        <div class="img1">
            <img src="/public/images/fotoper.jpg" alt="">
         </div>


        <div class="content">
            <p class="p-1">Gustavo Alexander Graterol Alaes
            <p class="p-2">19 years, Middle Technician</p>
            <p class="form_paragraph">Ver en español <a href="/views/curriculum.html" class="form_link">Click aquí</a></p>
        </div>
    </div>
    <div class="info">
        <p class="tituloSeccion">Personal information</p>
        <p class="tituloinfo">Name and surname : </p>
        <p class="infoinfo">Gustavo Graterol Alexander Alaes</p><br>
        <p class="tituloinfo">Phone : </p>
        <p class="infoinfo">+58-04121426917</p><br>
        <p class="tituloinfo">Mail : </p>
        <p class="infoinfo">gustavoalaes04@gmail.com</p><br>
        <p class="tituloinfo">Address : </p>
        <p class="infoinfo">Aragua - La Victoria</p><br>
        <p class="tituloinfo">Nationality : </p>
        <p class="infoinfo">Venezolano</p><br>
    </div>

    <div class="info">
        <p class="tituloSeccion">Education</p>
        <p class="tituloinfo">Primary : </p>
        <p class="infoinfo">América Fernández de Leoni - 1ro a 6to</p><br>
        <p class="tituloinfo">Secundary : </p>
        <p class="infoinfo">Escuela Técnica Industrial La Victoria - Medium technical in electricity</p><br>
        <p class="tituloinfo">University : </p>
        <p class="infoinfo">Universidad Nacional Experimental Rómulo Gallegos - Studying 4th semester</p>
    </div>

    <div>
        <div class="info">
            <p class="tituloSeccion">Work experience</p>
            <p class="tituloinfo">Agropecuaria El Rey C.A:</p>
            <p class="infoinfo">I worked as an animal care assistant.</p><br>
            <p class="tituloinfo">Empresa Doña Lidya C.A:</p>
            <p class="infoinfo"> I worked as an operator of productive machinery</p><br>
            <p class="tituloinfo">Distribuidora de agua Unisoll II:</p>  
            <p class="infoinfo"> I worked as a white water distributor</p><br>
    </div>

    <div class="info">
        <p class="tituloSeccion">Skills and abilities</p><br>
        <p class="tituloinfo">Software technician/p><br>
        <p class="tituloinfo">Developer Wed- HTML,CSS,JAVASCRIPT</p><br>
        <p class="tituloinfo">Inglés - B1</p><br>
        <p class="tituloinfo">Español - Native language</p>

    </div>

    <div class="info">
        <p class="tituloSeccion">Social networks</p>
        <div class="boton">
            <a href="https://www.facebook.com/alexander.alaes.96" class="btn-1">Facebook</a>
            <a href="https://www.instagram.com/alexander.alaes.96" class="btn-2">Instagram</a>
        </div>
</div>