<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Gustavo Graterol</title>
    <link rel="stylesheet" href="/stylesheets/curriculum.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <div class="name">

        <div class="img1">
            <img src="/public/images/fotoper.jpg" alt="">
         </div>


        <div class="content">
            <p class="p-1">Gustavo Alexander Graterol Alaes
            <p class="p-2">19 años, Técnico medio</p>
        </div>
    </div>
    <div class="info">
        <p class="tituloSeccion">Información Personal</p>
        <p class="tituloinfo">Nombre y Apellidos : </p>
        <p class="infoinfo">Gustavo Graterol Alexander Alaes</p><br>
        <p class="tituloinfo">Teléfono : </p>
        <p class="infoinfo">+58-04121426917</p><br>
        <p class="tituloinfo">Correo : </p>
        <p class="infoinfo">gustavoalaes04@gmail.com</p><br>
        <p class="tituloinfo">Dirección : </p>
        <p class="infoinfo">Aragua - La Victoria</p><br>
        <p class="tituloinfo">Nacionalidad : </p>
        <p class="infoinfo">Venezolano</p><br>
    </div>

    <div class="info">
        <p class="tituloSeccion">Formación</p>
        <p class="tituloinfo">Primaria : </p>
        <p class="infoinfo">América Fernández de Leoni - 1ro a 6to</p><br>
        <p class="tituloinfo">Secundaria : </p>
        <p class="infoinfo">Escuela Técnica Industrial La Victoria - Técnico Medio en eléctricidad</p><br>
        <p class="tituloinfo">Universidad : </p>
        <p class="infoinfo">Universidad Nacional Experimental Rómulo Gallegos - Cursando 4to semestre</p>
    </div>

    <div>
        <div class="info">
            <p class="tituloSeccion">Experiencia Laboral</p>
            <p class="tituloinfo">Agropecuaria El Rey C.A:</p>
            <p class="infoinfo">Laboré como ayudante en cuidado de animales</p><br>
            <p class="tituloinfo">Empresa Doña Lidya C.A:</p>
            <p class="infoinfo"> Laboré como operador de maquinaria productiva</p><br>
            <p class="tituloinfo">Distribuidora de agua Unisoll II:</p>  
            <p class="infoinfo"> Laboré como distribuidor de aguas blancas</p><br>
    </div>

    <div class="info">
        <p class="tituloSeccion">Habilidades y Destrezas</p><br>
        <p class="tituloinfo">Técnico de software</p><br>
        <p class="tituloinfo">Desarrollador Wed - HTML,CSS,JAVASCRIPT</p><br>
        <p class="tituloinfo">Inglés - B1</p><br>
        <p class="tituloinfo">Español - Lengua Nativa</p>

    </div>

    <div class="info">
        <p class="tituloSeccion">Redes Sociales</p>
        <div class="boton">
            <a href="https://www.facebook.com/alexander.alaes.96" class="btn-1">facebook</a>
            <a href="https://www.instagram.com/alexander.alaes.96" class="btn-2">Instagram</a>
        </div>
</div>